header
    margin-top: 24px
    .container
        .row
            .col-md-4
                display: flex
                align-items: center
                ul
                    display: flex
                    justify-content: center
                    align-items: center
                    li
                        padding: 0 1rem
                        a.button.ghost
            .col-md-4:last-child
                display: flex
                justify-content: flex-end
                align-items: center
main
    .section-opening
        .container
            h1
                font-weight: 600
                font-size: 86px
                line-height: 135%
                text-align: center
footer
    .container
        .row
            padding: 56px 0
            >div
                display: flex
                align-items: center
            .col-md-5
                ul
                    display: flex
                    align-items: center
                    justify-content: flex-start
                    li
                        padding: 0 1rem
                    li:first-child
                        padding: 0 0
            .col-md-2:nth-child(2)
                justify-content: center
            .col-md-5:last-child
                justify-content: flex-end
                ul
                    li
                        a
                            span
                                width: 24px
                                height: 24px
                                display: inline-block
                                margin-right: 10px
                            #icon-dribbble
                                background-image: url('https://hyperfantasy.co/assets/styles/images/icon-social-media-dribbble.png')
                            #icon-instagram
                                background-image: url('https://hyperfantasy.co/assets/styles/images/icon-social-media-instagram.png')

                    li:first-child
                        font-size: 12px
                        margin-right: 24px