doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		title Hyperfantasy
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet" href="main.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/dmhendricks/bootstrap-grid-css@4.1.3/dist/css/bootstrap-grid.min.css")
		link(rel="shortcut icon", href="https://hyperfantasy.co/favicon.ico", type="image/x-icon")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet")
	body
		.bootstrap-wrapper
			header
				.container
					.row
						.col-md-3
							img(src="https://hyperfantasy.co/assets/styles/images/logo_mark_hyperfantasy.png", width=56, alt="Hyperfantasy Logo")
						.col-md-6
							ul
								li
									a(href="#") Home
								li
									a(href="#") About
								li
									a(href="#") Services
								li
									a(href="#") Works
								li
									a(href="#") Trust
								li
									a(href="#") Contact
						.col-md-3
							a.button.ghost(href="https://www.instagram.com/hyperfantasy.creative", target="_blank") Portfolio
			main
				.section.section-opening
					.container
						h1 Leveraging design<br/> &amp; tech to bring<br/> your fantasy life!
						//- p We are Hyperfantasy, creative team that love to solve problem &amp; building awesome digital experiences
						span Have any fantasy?
						span
							a(href="mailto:hello.hyperfantasy@gmail.com") Let’s talk!
				.section.section-how-work
					.container
						h2 What we do?
						.row
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/airplay.svg", width=64, alt="Hyperfantasy Work - UI Design")
								h2 UI Design
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/smile.svg", width=64, alt="Hyperfantasy Work - UX Design")
								h2 UX Design
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/image.svg", width=64, alt="Hyperfantasy Work - Illustration")
								h2 Illustration
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/codesandbox.svg", width=64, alt="Hyperfantasy Work - 3D Design")
								h2 3D Design
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/printer.svg", width=64, alt="Hyperfantasy Graphic Design")
								h2 Graphic Design
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/chrome.svg", width=64, alt="Hyperfantasy Work - Branding")
								h2 Branding
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/layout.svg", width=64, alt="Hyperfantasy Work - Web Development")
								h2 Web Development
							.icon-item.col-5.col-sm-3.col-md-3.col-lg-2
								img(src="assets/img/icon/smartphone.svg", width=64, alt="Hyperfantasy Work - Mobile App Dev.")
								h2 Mobile App Dev.
							.icon-item.col-xs-5.col-sm-4.col-md-3.col-lg-2
								img(src="assets/img/icon/play-circle.svg", width=64, alt="Hyperfantasy Work - Micro Motion")
								h2 Micro Motion
				.section.section-works
					.container
						h2 Our works
						.row.card-work
						.row.card-work
						.row.card-work
				.section.section-shots
					.container
						h2 Our Shots
						.row
							.col-12.col-sm-6.col-md-6.col-lg-4
								img(src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/4bfd4c138970509.622809b25f730.png", alt="NFTy Dashboard")
							.col-12.col-sm-6.col-md-6.col-lg-4
								img(src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/29e985138970301.622808f0746ba.png", alt="NFTy Mobile App")
							.col-12.col-sm-6.col-md-6.col-lg-4
								img(src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/6b1d54138970043.622807cba6242.png", alt="NFTy Website Landing Page")
						.row.flex-center
							a.button.ghost(href="https://www.instagram.com/hyperfantasy.creative", target="_blank") Portfolio
				.section.section-clients
					.container
						//- h2 Clients
						.row
							.col-6.col-sm-3.col-md-3.col-lg-2
								img(src="https://static.wixstatic.com/media/50d469_aa8f88e1c7ef41b992b033fb9b6ad3d2~mv2.png/v1/crop/x_0,y_9,w_1214,h_356/fill/w_273,h_80,al_c,usm_0.66_1.00_0.01,enc_auto/wolftagon_logo_OK.png", width=180, alt="Wolftagon")
							.col-6.col-sm-3.col-md-3.col-lg-2
								img(src="https://thegreatsoft.com/assets/user/images/kallyas_icon.png", width=56, alt="Greatsoft")
							.col-6.col-sm-3.col-md-3.col-lg-2
								img(src="https://www.tresnan.co/logo-grey.png", width=180, alt="Tresnan")
							.col-6.col-sm-3.col-md-3.col-lg-2
								img(src="https://akasia.id/wp-content/uploads/2021/04/akasia-logo-footer-1.png", width=86, alt="Akasia")
							.col-6.col-sm-3.col-md-3.col-lg-2
								img(src="https://www.tamawal.sa/catalog/view/theme/default/common/en/images/footer/Foot_Logo.png", width=124, alt="Tammwel")
							.col-6.col-sm-3.col-md-3.col-lg-2
								img(src="http://www.asiansigmatechnology.com/89c9620c82872f46ffd1b7099297efe1.png", width=180, alt="Sigmatech")
				//- .section.section-testimonials
				//- 	.container
				//- 		h2 Testimonials
				.section.section-action
					.container
						h2 Have any awesome fantasy?
						span
							a(href="mailto:hello.hyperfantasy@gmail.com") Let’s talk!
			footer
				.container
					.row
						.col-md-5
							ul
								li
									a(href="#") Home
								//- li
								//- 	a(href="#") About
								li
									a(href="#") Services
								li
									a(href="#") Works
								li
									a(href="#") Trust
								li
									a(href="#") Contact
						.col-md-2
							img(src="https://hyperfantasy.co/assets/styles/images/logo_mark_hyperfantasy.png", width=48, alt="Hyperfantasy Logo")
						.col-md-5
							ul
								li
									a(href="https://www.instagram.com/hyperfantasy.creative", target="_blank") © 2022, Hyperfantasy. All rights reserved.
								ul
									li
										a(class="icon-link",href="https://dribbble.com/hyperfantasy")
											span(class="icon",id="icon-dribbble")
		
									li
										a(class="icon-link",href="https://www.instagram.com/hyperfantasy.creative")
											span(class="icon",id="icon-instagram")